%li.todo{:class=> "{{done_class}}"}
  %div.display
    <input class="check" type="checkbox" {{done_checked}}>
    %div.todo-text {{text}}
    %span.todo-destroy
  %div.edit
    %input.todo-input{"type" => "text", "value" =>"{{text}}"}
