{{#hasRemainingItems}}
%span.todo-count
  %span.number {{numRemainingItems}}
  {{labelItemsRemaining}} left
{{/hasRemainingItems}}

{{#hasDoneItems}}
%span.todo-clear
  %a{"href" => "#"}
    Clear
    %span.number {{numDoneItems}}
    completed  {{labelDoneItems}}
{{/hasDoneItems}}
