/ Todo App Interface

- content_for :js_footer do
  :javascript
    $(document).ready(function() {
      window.Todos.reset(#{@todos.to_json});
    });
-content_for :footer do
  = @readme

#todoapp
  %div.title
    %h1
      Todos
    %div.content
      %div#create-todo
        %input#new-todo{"placeholder" => "What needs to be done?", "type" => "text"}/
        %span.ui-tooltip-top{"style" => "display:none;"} Press Enter to save this task
      %div#todos
        %ul#todo-list
          - @todos.each do |todo|
            - t = todo.serializable_hash
            - t['done_class']   = t['done'] ? 'done' : ''
            - t['done_checked'] = t['done'] ? 'checked' : ''
            =hamstache :item, :mustache => t
      %div#todo-stats


/ Templates
%script#item{"type" => "text/html"}
  = hamstache :item
%script#stats{"type" => "text/html"}
  = hamstache :stats

