/ Todo App Interface

- content_for :js_footer do
  :javascript
    $(document).ready(function() {
      window.Todos.reset(#{@todos.to_json});
    });

%div#todoapp
  %div.title
    %h1
      Todos
    %div.content
      %div#create-todo
        %input#new-todo{"placeholder" => "What needs to be done?", "type" => "text"}/
        %span.ui-tooltip-top{"style" => "display:none;"} Press Enter to save this task
      %div#todos
        %ul#todo-list
      %div#todo-stats


/ Templates
%script#item{"type" => "text/html"}
  = hamstache :item
%script#stats{"type" => "text/html"}
  = hamstache :stats

